<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <style>

    background
    div {
      padding: 20px;
    }  

    .btn-xl {
      padding: 100px 70px;
      font-size: 50px;
      border-radius: 5px;
      text-align: center
      background-color: grey;
      margin: 50px;
    }

    .bouton_commencer {
      text-align: center;
    }

    body {
      background-image: linear-gradient(to bottom right, white, lightgrey)
    }

    h1 {
      margin: 50px;
    }

  </style>


  	<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="index">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="calculatrice">Calculatrice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="manques">Nutriments</a>
      </li>
    </ul>
  </div>
</nav>

<content>
  <div>
    <h1>
    Bienvenue sur le site qui vous permet de calculer les manques dans votre alimentation. Lorsque vous êtes prêt à débuter, appuyer sur « Commencer à calculer! ».
  </h1>
  </div>
  <br>
  <div class = "bouton_commencer">
    <a href="calculatrice"><button type="button" class="btn btn-outline-secondary btn-xl">Commencer à calculer!</button></a>
  </div>
  <br>

  <h4>À propos de ce site</h4>
  <p>Ce site a été créé par Justin Lacoste, un élève du Collège Jean-de-Bébeuf, dans le cadre de son projet personnel pour le profil BI. Ce site, s'inscrivant dans le contexte mondial d'identité et relations, a pour but d'améliorer l'alimentation des gens qui a d'importantes répercussions sur la santé de la population. </p>
</content>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>