<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <style>

  	h1 {
  		margin: 50px;
  		text-align: center;
  	}

  	h4 {
  		margin: 20px;
  	}

  	.les-manques {
  		margin-left: 10px;
  		margin-rigth:10px;
  	}
  </style>


  	<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="index">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="calculatrice">Calculatrice</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="manques">Nutriments</a>
      </li>
    </ul>
  </div>
</nav>

<content>

	<div>
		<h1>Les nutriments</h1>
		<h4>Voici la liste de tous les nutriments que prend en compte la calculatrice. Il est indiqué la fonction de chacun, les conséquences d'un manque de sa consommation et les aliments qui en contiennent.</h4>
	</div>

	<div class="tous-les-manques">
		<div class="les-manques">
			<h3>Protéine</h3>
			<p>Les protéines sont une source d'énergie indispensable à l'être humain. Elles lui permettent de construire, entre autres, ces muscles et ses os et elles joue un rôle majeur dans la fabrication d'acides aminées. Un manque de protéines peut entraîner  la fatigue et une déficience du système immunitaire. On en retrouve dans les aliments d'origine animales, comme la viande, le lait, les oeufs et le poission, mais aussi dans les légumineuses comme les lentilles.</p>
		</div>

		<div class="les-manques">
			<h3>Lipides</h3>
			<p>Les lipides sont les constituants de toutes les membranes cellulaires et elles jouent une rôle essentiel dans le transport des vitamines. Un manque de lipides peut entraîner une détérioration de la membrane cellulaire. On en retrouve dans les graisses animales, comme la viande, et dans les graisses végétales, comme dans l'huile, les noix et les avocats.</p>
		</div>

		<div class="les-manques">
			<h3>Glucides</h3>
			<p>Les glucides sont la source d'énergie la plus importante pour l'humain. Un manque de glucides peut mener à de la fatigue et des maux de tête. On en retrouve dans les céréales, comme dans les pâtes et le pain, et dans les fruits.</p>
		</div>

		<div class="les-manques">
			<h3>Fibre</h3>
			<p>Les fibres facilitent la progression de la nourriture dans le côlon et nourrissent des bactéries essentielles à notre santé. Un manque de fibres peut entraîner une difficulté à digérer et peut augmenter le risque d’avoir le diabète. On en retrouve dans la laitue, les fruits avec ces pépins et les céréales.</p>
		</div>

		<div class="les-manques">
			<h3>Sodium</h3>
			<p>Le sodium est primordial à la transmission de l'influx nerveux aux muscles et à l'acidité dans le sang. Une carence en sodium, une situation inhabituelle, mène à une déshydratation, et à une faiblesse musculaire et à de la fatigue. On retrouve du sodium dans... du sel!</p>
		</div>

		<div class="les-manques">
			<h3>Vitamine A</h3>
			<p>La vitamine A joue un rôle important dans la vision et dans les tissus des poumons, de l'intestin et de la peau. Une carence en vitamine A peut mener à des problèmes respiratoires. On en retrouve dans certains fruits et légumes commes les carottes, mangues, tomates et légumes verts et dans les substances animales comme de la viande et du lait.</p>
		</div>

		<div class="les-manques">
			<h3>Vitamine B1</h3>
			<p>La vitamine B aide à libérer l'énergie de la nourriture et à garder les tissus musculaires en santé. Un manque de vitamine B1 peut engendrer de la fatigue, une diminution de l'appétit et des douleurs musculaires. On en retrouve dans les légumes, les céréales et les noix.</p>
		</div>

		<div class="les-manques">
			<h3>Vitamine B2</h3>
			<p>La vitamine B2 est importante à la production d'énergie, la productions de globules rouges et la reconstruction de tissus. Un manque de vitamine B peut engendrer les lésions sur la peau et des troubles de vision. On en retrouve dans les produits laitiers, les céréales et les oeufs.</p>
		</div>

		<div class="les-manques">
			<h3>Vitamine B3</h3>
			<p>La vitamine B3 joue un rôle important pour une bonne circulation sanguine. Un manque de vitamine B3 peut mener à des trouves du systèmes nerveux. On en retrouve dans la viande, dans le poisson et dans les céréales.</p>
		</div>

		<div class="les-manques">
			<h3>Vitamine B6</h3>
			<p>La vitamine B6 est très importante pour le métabolisme des acides aminés. Un manque de vitamine B6 peut mener à une perte de cheveux et à une inflammation de la peau. On en retrouve dans la viande et les céréales.</p>
		</div>

		<div class="les-manques">
			<h3>Vitamine B9</h3>
			<p>La vitamine B9 est important pour le fonctionnement d'acides aminés. Un manque de vitamine B9 peut entraîner une diminution de la quantité de globules rouges. On en retrouve dans les légumes verts.</p>
		</div>

		<div class="les-manques">
			<h3>Vitamine C</h3>
			<p>La vitamine C est un excellent antioxydant et il contribue à l'entretien des tissus. Un manque de vitamine C peut mener au scorbut, une maladie que les colons au Canada on subit. On en retrouve dans des fruits et légumes comme des oranges, des kiwis et des poivrons.</p>
		</div>

		<div class="les-manques">
			<h3>Vitamine E</h3>
			<p>La vitamine E est un antioxydant excessivement important et elle contribue à ralentir le vieillissement. Un manque de vitamine E peut mener à de la fatigue. On en retrouve dans les huiles végétales, le jaune des oeufs et les noix.</p>
		</div>

		<div class="les-manques">
			<h3>Vitamine K</h3>
			<p>La vitamine K participe à la coagulation sanguine et la formation d'une protéine dans les os. Une carence en vitamine K peut mener à des problèmes de circulation sanguine. On en retrouve dans la laitue et les brocolis.</p>
		</div>

		<div class="les-manques">
			<h3>Calcium</h3>
			<p>Le calcium joue un rôle essentiel pour le bien-être des os et des dents. Un manque de calcium peut affaiblir la masse osseuse et peut ralentir la croissance de a masse osseuse. On en retrouve dans les produits laitiers, les noix, les légumineuses et les légumes verts.</p>
		</div>

		<div class="les-manques">
			<h3>Fer</h3>
			<p>Le fer est important pour le transport de l'oxygène dans le sytème sanguin et il participe au développement au développement des fonctions cognitives. Un manque de fer peut engendrer de la fatigue et un pâlissement de la peau. On retrouve du fer dans la viande, les légumineuses, les céréales et les produits laitiers. </p>
		</div>

		<div class="les-manques">
			<h3>Zinc</h3>
			<p>Le zinc joue un rôle important dans la synthèse de l'ADN et des protéines et aide à la formation de os. Une carence en zinc peut mener à des troubles au niveau du goût et de l'odorat et entraîner une perte de cheveux. On retrouve dans la viande, les fruits de mer et les noix.</p>
		</div>

		<div class="les-manques">
			<h3>Magnésium</h3>
			<p>Le magnésium est essentiel pour le fonctionnement de plusieurs centaines d'enzymes et il permet la production d'énergie. Un manque de magnésium peut mener à de l'anxiété et des troubles du sommeil. On en retrouve dans les bananes, les céréales et les amandes.</p>
		</div>

		<div class="les-manques">
			<h3>Cuivre</h3>
			<p>Le cuivre est important pour le bon fonctionnement de plusieurs enzymes. Une carence en cuivre peut mener à des troubles de la peau et des os. On en retrouve dans les légumineuses et les céréales.</p>
		</div>

		<div class="les-manques">
			<h3>Iode</h3>
			<p>L'iode est important pour un bon fonctionnement de l'organisme. Un manque en iode peut mener à de la fatigue et de la constipation. On en retrouve dans le poisson et les fruits de mer.</p>
		</div>

		<div class="les-manques">
			<h3>Manganèse</h3>
			<p>Le manganèse joue un rôle important dans l'équilibre des glucides  et l'activation de plusieurs enzymes. Un manque de manganèse peut se traduire par une faible croissance, et des dommages à la peau.</p>
		</div>

		<div class="les-manques">
			<h3>Potassium</h3>
			<p>Le potassium permet de maintenir une bonne acidité dans l'estomac, régule le sodium dans le rein et participe à la sécrétion d'insuline. Une carence de potassium peut entraîner une faiblesse musculaire et des troubles cardiaques. On en retrouve dans les bananes, les brocolis, les ananas et les noix.</p>
		</div>

		<div class="les-manques">
			<h3>Phosphore</h3>
			<p>Le phosphore est important pour la structure des os et la production d'énergie. Il est pratiquement impossible d'avoir un manque de phosphore sur le long terme. On en retrouve dans la viande, le poisson et les légumineuses.</p>
		</div>
	</div>
</content>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>